@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/static/woff2/SUIT.css');

html,
body {
	margin: 0;
	box-sizing: border-box;
	font-family: $font__default;

	> * {
		word-break: keep-all;
	}
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1 {
	font-size: $fontsize__h1;
}

h2 {
	font-size: $fontsize__h2;
}

h3 {
	font-size: $fontsize__h3;
}

h4 {
	font-size: $fontsize__h4;
}

h5 {
	font-size: $fontsize__h5;
}

h6 {
	font-size: $fontsize__h6;
	line-height: 1em;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	border: 0;
	font-family: $font__default;
}

.hide {
	display: none;
}

:focus {
	outline: auto;
}

.hidden-text {
	white-space: nowrap;
	font-size: 0;
	text-indent: -9999px;
	white-space: nowrap;
	// height: 0px;
	overflow: hidden;
}

.hidden-pc {
	display: none;
}

.hidden-mobile {
	display: block;
}

@include media('<=tablet') {
	.hidden-pc {
		display: block;
	}
	.hidden-mobile {
		display: none;
	}
}

.clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}

.container {
	display: block;
	max-width: 1200px;
	margin: 0 auto;
}

.container-wide {
	display: block;
	max-width: 1360px;
	margin: 0 auto;
}

.container-small {
	display: block;
	max-width: 1040px;
	margin: 0 auto;
}

.page-container {
	display: block;
	max-width: 1090px;
	margin: 0 auto;
}

@include media('<=container') {
	.page-container,
	.container {
		margin: 0 50px;
	}

	.container-wide {
		margin: 0;
	}
}

@include media('<=desktop') {
	.container,
	.page-container,
	.container-small {
		margin: 0 30px;
	}
}

@include media('<=tablet') {
	.container,
	.page-container,
	.container-small {
		margin: 0 16px;
	}
}
