.post-list-wrap {
	margin: 100px 0;

	.post-list-header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0 0 20px 0;
		border-bottom: 1px solid $color__border;

		h1 {
			padding: 0;
			margin: 0;
			font-size: 33px;
		}

		span {
			font-size: 16px;
			font-weight: 400;
		}
	}

	.category-tags {
		margin: 50px 0;
		a {
			display: inline-block;
			font-size: 16px;
			border: 1px solid #e8e8e8;
			border-radius: 20px;
			margin-top: 10px;

			padding: 9px 20px;
			background: #fff;
			color: #000;

			&:before {
				content: '#';
			}

			&:hover,
			&:focus,
			&.on {
				color: #fff;
				background: $color__background-sig;
				border: 1px solid $color__background-sig;
			}
		}

		a + a {
			margin-left: 20px;
		}
	}

	// 검색어 추가
	// 검색어 입력
	.category-search {
		margin-top: 30px;
		display: flex;
		flex-direction: row-reverse;
		font-size: 0;

		.category-search-wrap {
			max-width: 350px;
			position: relative;
			border-radius: 4px;
			border: 1px solid #e8e8e8;
			overflow: hidden;

			input[name='ckey'] {
				display: block;
				border: none;
				font-weight: 400;
				font-size: 18px;
				padding: 13px 100px 12px 25px;
				// text-align: center;
				width: 100%;
				height: 100%;
			}

			#del-ckey {
				position: absolute;
				display: none;
				right: 60px;
				width: 26px;
				height: 26px;
				top: calc(50% - calc(26px / 2));
				background: #f7f7f7;
				cursor: pointer;
				border-radius: calc(26px / 2);

				&:after {
					position: absolute;
					content: '';
					display: block;
					width: 1px;
					height: 15px;
					transform: rotate(-45deg);
					background: #000;
					top: calc(50% - 7px);
					left: 50%;
				}

				&:before {
					position: absolute;
					content: '';
					display: block;
					width: 1px;
					height: 15px;
					transform: rotate(-135deg);
					background: #000;
					top: calc(50% - 7px);
					left: 50%;
				}
			}

			button {
				position: absolute;
				right: 20px;
				width: 30px;
				height: 30px;
				border: none;
				top: 50%;
				transform: translateY(-50%);
				cursor: pointer;
				background: url(#{$imgPath}/icon-search-header.png) no-repeat center
					center;
			}
		}
	}

	// 검색어 입력 끝.

	.post-list {
		padding: 0;
		margin: 70px 0;
		list-style: none;

		.post-item-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 30px;
			margin: 60px 0;

			.post-thumb {
				a {
					display: block;
					width: 100%;
					height: 100%;
					border-radius: 20px;
					overflow: hidden;
					-webkit-mask-image: -webkit-radial-gradient(white, black);
					font-size: 0;

					&:hover,
					&:focus {
						img {
							transform: scale(1.1);
						}
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						object-position: 50% 50%;
						transition: transform 0.3s;
					}
				}
			}

			.post-detail {
				flex: 1;

				.post-title {
					font-size: 22px;
					line-height: 31px;
					font-weight: 600;
					color: #000;
					letter-spacing: -1px;
					margin: 0 0 20px 0;
				}

				.post-etc {
					margin: 10px 0 0 0;

					.post-date {
						font-size: 14px;
						font-weight: 400;
						letter-spacing: -1px;
					}
				}

				.post-excerpt {
					font-size: 18px;
					letter-spacing: -1px;
					margin-top: 20px;
					line-height: 27px;
					@include ellipsis(2, 27px);
				}
			}
		}
	}
}

@include media('<=desktop') {
	.post-list-wrap {
		margin: 60px 0;
		.category-tags {
			margin: 40px 0;

			a {
				font-size: 14px;
			}

			a + a {
				margin-left: 15px;
			}
		}
	}
}

@include media('<=tablet') {
	.post-list-wrap {
		margin: 40px 0;

		.post-list-header {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding: 0 0 10px 0;

			h1 {
				font-size: 26px;
			}

			span {
				font-size: 12px;
			}
		}

		.category-tags {
			margin: 30px 0;
			a {
				font-size: 14px;
				letter-spacing: -1px;
				padding: 8px 13px;
			}

			a + a {
				margin-left: 10px;
			}
		}

		.category-search {
			.category-search-wrap {
				max-width: auto;
				width: 100%;
				input[name='ckey'] {
					font-size: 14px;
					padding: 11px 70px 10px 15px;
				}

				#del-ckey {
					right: 50px;
					width: 21px;
					height: 21px;
					top: calc(50% - calc(21px / 2));
					background: #f7f7f7;
					cursor: pointer;
					border-radius: calc(21px / 2);

					&:after {
						height: 13px;
						top: calc(50% - 5px);
						left: 50%;
					}

					&:before {
						height: 13px;
						top: calc(50% - 5px);
						left: 50%;
					}
				}

				button {
					width: 20px;
					height: 20px;
					background-size: auto 19px;
				}
			}
		}

		.post-list {
			margin: 30px 0;
			display: grid;
			grid-template-columns: repeat(2, minmax(0, 50%));
			gap: 10px;

			.post-item-wrap {
				display: flex;
				justify-content: space-between;
				flex-direction: column;
				align-items: flex-start;
				gap: 10px;
				margin: 5px 0;

				.post-thumb {
					a {
						border-radius: 10px;
					}
				}

				.post-detail {
					min-height: 60px;

					.post-title {
						font-size: 14px;
						line-height: 18px;
						margin: 0;
						@include ellipsis(2, 18px);
					}

					.post-etc {
						margin: 5px 0 0 0;

						.post-date {
							font-size: 12px;
							letter-spacing: -1px;
						}
					}

					.post-excerpt {
						display: none;
					}
				}
			}
		}
	}
}
