footer {
	background: #000;
	padding: 26px 0 57px 0;

	.mob {
		display: none;
	}

	.pc {
		.footer-top {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.logo {
				display: inline-block;
				width: 87px;
				height: 27px;
				background: url(#{$imgPath}/logo-lscns-white.svg) no-repeat center center;
			}

			.footer-menu {
				a {
					font-size: 16px;
					font-weight: 300;
					color: #e1e1e1;

					&:hover {
						color: #fff;
						font-weight: 700;
					}
				}

				a+a {
					margin-left: 30px;
				}
			}
		}

		.footer-bottom {
			margin-top: 80px;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.info {
				.address {
					color: #e1e1e1;
					font-weight: 300;

					a {
						color: #e1e1e1;
					}
				}

				.copy {
					color: #e1e1e1;
					font-weight: 300;
					margin-top: 10px;
				}
			}

			.social-links {
				font-size: 0;

				a {
					position: relative;
					display: inline-block;
					width: 55px;
					height: 55px;
					background: #333;
					border-radius: calc(55px / 2);
				}

				a+a {
					margin-left: 20px;
				}

				.home {
					background: url(#{$imgPath}/icon-footer-home.png) no-repeat center center;
				}

				.youtube {
					background: url(#{$imgPath}/icon-footer-youtube.png) no-repeat center center;
				}
			}
		}
	}
}

// 푸터 - 데스크탑
@include media("<=desktop") {
	footer {
		padding: 20px 0 50px 0;

		.pc {
			.footer-top {
				.logo {
					width: 63px;
					height: 20px;
				}

				.footer-menu {
					a {
						font-size: 14px;
					}

					a+a {
						margin-left: 20px;
					}
				}
			}

			.footer-bottom {
				margin-top: 50px;

				.info {
					font-size: 14px;
				}

				.social-links {
					font-size: 0;

					a {
						position: relative;
						display: inline-block;
						width: 44px;
						height: 44px;
						background: #333;
						border-radius: calc(44px / 2);
					}

					a+a {
						margin-left: 20px;
					}

					.home {
						background-size: 44px;
					}

					.youtube {
						background-size: 44px;
					}
				}
			}
		}
	}
}

// 푸터 - 태블릿 : 구조가 엉망진창
@include media("<=tablet") {
	footer {
		// padding: 0;

		.pc {
			display: none;
		}

		.mob {
			display: block;

			.footer-top {
				display: flex;
				justify-content: space-between;
				align-items: center;
				border-bottom: 1px solid #fff;
				padding-bottom: 20px;

				.logo {
					display: inline-block;
					width: 54px;
					height: 16px;
					background: url(#{$imgPath}/logo-lscns-white.svg) no-repeat center center;
				}

				.social-links {
					font-size: 0;

					a {
						position: relative;
						display: inline-block;
						width: 28px;
						height: 28px;
						background: #333;
						border-radius: calc(28px / 2);

						&.home {
							background: url(#{$imgPath}/icon-footer-home.png) no-repeat center center / auto 28px;
						}

						&.youtube {
							background: url(#{$imgPath}/icon-footer-youtube.png) no-repeat center center / auto 28px;
						}
					}

					a+a {
						margin-left: 10px;
					}
				}
			}

			.footer-bottom {
				text-align: center;

				.footer-menu {
					padding: 20px 0;

					a {
						position: relative;
						font-size: 12px;
						font-weight: 300;
						color: #e1e1e1;
						letter-spacing: -2px;
					}

					a+a {
						position: relative;
						margin-left: 13px;
						padding-left: 13px;

						&:before {
							position: absolute;
							display: block;
							left: 0;
							top: 2px;
							content: "";
							width: 1px;
							height: 11px;
							background: #a4a1a1;
						}
					}
				}

				.info {
					.address {
						font-size: 10px;
						color: #626262;
						font-weight: 300;

						a {
							color: #626262;
						}
					}

					.copy {
						font-size: 10px;
						color: #626262;
						font-weight: 300;
					}
				}
			}
		}
	}
}


// 맨위로
.go-to-top {
	display: none;
	position: fixed;
	left: calc(50% + 700px);
	// right: 80px;
	bottom: 246px;
	font-size: 0;
	background: #000;
	width: 55px;
	height: 55px;
	border-radius: calc(55px / 2);

	&:after {
		position: absolute;
		content: "";
		display: block;
		// left: calc(50% - 1px);
		// top: calc(50% - 8px);
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 3px;
		border-radius: 1px;
		height: 25px;
		background: #fff;
	}

	&:before {
		position: absolute;
		content: "";
		display: block;
		top: 50%;
		left: 50%;
		border-right: 3px solid #fff;
		border-bottom: 3px solid #fff;
		transform: translate(-50%, -70%) rotate(-135deg);
		width: 13px;
		height: 13px;
		border-radius: 1px;
		background-color: transparent;
	}
}

@include media("<=1500px") {
	.go-to-top {
		left: auto;
		right: 50px;
	}
}

@include media("<=tablet") {
	.go-to-top {
		// transform: translateY(-100px);
		bottom: 60px;
		left: auto;
		right: 16px;
		width: 48px;
		height: 48px;
		border-radius: calc(48px / 2);
		transition: all 0.3s;

		&.regen {
			transform: translateY(-150px);
		}


		&:after {
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 3px;
			height: 18px;
			background: #fff;
		}

		&:before {
			border-right: 3px solid #fff;
			border-bottom: 3px solid #fff;
			transform: translate(-50%, -60%) rotate(-135deg);
			width: 10px;
			height: 10px;
			background-color: transparent;
		}
	}
}