#skip-link {
	position: fixed;
	height: 0px;
	overflow: hidden;
	z-index: 6000;
	width: 100%;
	text-align: center;
	color: #ffffff;
	background-color: $color__background-sig;
}

#skip-link:focus {
	width: 100%;
	height: 30px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: underline;
}

header.menu-opened {
	#header-wrap {
		#header-gnb {
			>ul {
				>li {
					.sub-menu {
						display: block;
					}
				}
			}
		}
	}
}

header.search-opened {
	#header-search-box {
		display: block;
	}

	#header-wrap {
		#header-right {
			.open-search {
				a {
					&:before {
						background: url(#{$imgPath}/icon-search-header-close.png) no-repeat center center;
					}
				}
			}
		}
	}
}

@include media("<=desktop") {
	header.search-opened {
		#header-wrap {
			#header-right {
				.open-search {
					a {
						&:before {
							background-size: auto 19px;
						}
					}
				}
			}
		}
	}
}

#header-wrap {
	position: relative;
	height: 100px;

	background-color: #fff;


	/****************************************************************
	* 좌측
	*/
	#header-left {
		max-width: 1200px;
		height: 100px;
		display: flex;
		align-items: center;
		// max-width: 1200px;
		// text-align: left;

		#header-logo {
			a {
				position: relative;
				z-index: 101;
				display: block;
				width: 222px;
				height: 46px;
				background: url(#{$imgPath}/logo.svg) no-repeat center center / auto 46px;
			}
		}
	}

	/***************************************************************
	* 우측
	*/
	#header-right {
		position: absolute;
		width: 100%;
		height: 100px;
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: end;
		align-items: center;

		#btn-mob-menu {
			display: none;
		}

		.open-search {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			z-index: 401;
			margin-right: 50px;

			a {
				position: relative;
				display: inherit;
				// margin-right: 25px;

				&:before {
					content: "";
					display: block;
					width: 24px;
					height: 24px;
					background: url(#{$imgPath}/icon-search-header.png) no-repeat center center;
				}
			}
		}

		.lscns-link {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			z-index: 401;

			a {
				position: relative;
				display: inherit;

				&:before {
					content: "";
					display: block;
					width: 86px;
					height: 26px;
					background: url(#{$imgPath}/logo-lscns-block.svg) no-repeat center center;
				}
			}
		}
	}

	/****************************************************************8
	* GNB
	*/
	#header-gnb {
		position: absolute;
		top: 0;
		background-color: rgba(255, 255, 255, 0.95);
		z-index: 100;
		border-top: 1px solid $color__border;
		text-align: center;
		width: 100%;
		display: block;
		top: 100px;

		// &.active {
		// 	>ul {
		// 		>li {
		// 			>ul {
		// 				display: block;
		// 			}
		// 		}
		// 	}
		// }

		>ul {
			width: 100%;
			margin: auto;
			position: relative;
			font-size: 0;

			>li {
				display: inline-block;
				position: relative;
				vertical-align: top;


				&:hover {
					>a:not(.gnb-fold) {
						color: $color__text-sig;

						// font-weight: 800;
						// border-bottom: 3px solid $color__background-sig;

						&:after {
							transform: scaleX(1);
						}
					}
				}

				>a:not(.gnb-fold) {
					display: block;
					position: relative;
					padding: 0 40px;
					line-height: 100px;
					margin-top: -100px;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 21px;
					color: #000;
					transition: color 0.3s;
					letter-spacing: -1px;

					&:after {
						position: absolute;
						display: block;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						content: "";
						border-bottom: solid 3px $color__background-sig;
						transform: scaleX(0);
						transition: transform 200ms ease-in-out;
					}
				}

				>a.gnb-fold {
					display: none;
				}

				// 서브메뉴
				.sub-menu {
					display: none;
					width: 100%;
					margin: 25px 0 35px 0;
					padding: 0 0 40px;

					>li {
						>a {
							display: block;
							height: 40px;
							line-height: 40px;
							font-size: 16px;
							letter-spacing: -1px;
							color: #666;

							span.post-sub-new {
								background: #f50000;
								border-radius: 2px;
								font-size: 11px;
								color: #000;
								display: inline-block;
								width: 15px;
								height: 15px;
								line-height: 15px;
								letter-spacing: 0px;
								font-family: "Open Sans";
								vertical-align: middle;
								margin: 0px 0px 5px 5px;
							}
						}

						>a:hover {
							font-weight: 800;
						}
					}
				}
			}
		}
	}
}

// 헤더 - 컨테이너
@include media("<=container") {
	#header-wrap {
		#header-right {
			margin: auto;
			margin-right: 50px;
		}
	}
}

// 헤더 - 데스크탑
@include media("<=desktop") {
	#header-wrap {
		#header-left {
			#header-logo {
				a {
					width: 168px;
					height: 35px;
					background-size: auto 35px;
				}
			}
		}

		#header-right {
			margin-right: 30px;


			.lscns-link {
				a {
					&:before {
						width: 68px;
						height: 20px;
					}
				}
			}

			.open-search {
				margin-right: 30px;

				a {
					&:before {
						width: 20px;
						height: 20px;
						background-size: auto 19px;
					}
				}
			}
		}

		#header-gnb {
			>ul {
				>li {
					>a:not(.gnb-fold) {
						padding: 0 30px;
						font-size: 19px;
					}

					>a.gnb-fold {
						display: none;
					}

					// 서브메뉴
					.sub-menu {
						display: none;
						width: 100%;
						margin: 25px 0 35px 0;
						padding: 0 0 40px;

						>li {
							>a {
								display: block;
								height: 40px;
								line-height: 40px;
								font-size: 16px;
								letter-spacing: -1px;
								color: #666;

								span.post-sub-new {
									background: #f50000;
									border-radius: 2px;
									font-size: 11px;
									color: #000;
									display: inline-block;
									width: 15px;
									height: 15px;
									line-height: 15px;
									letter-spacing: 0px;
									font-family: "Open Sans";
									vertical-align: middle;
									margin: 0px 0px 5px 5px;
								}
							}

							>a:hover {
								font-weight: 800;
							}
						}
					}
				}
			}
		}
	}
}

// 헤더 - 태블릿
@include media("<=tablet") {
	#header-wrap {
		height: 55px;
		border-bottom: 1px solid $color__border;

		#header-gnb {
			display: none;
			background: #1c1d1f;
			padding: 15px 15px 40px 15px;
			top: 54px;

			>ul {
				padding: 0;

				>li:first-child {
					>a:not(.gnb-fold) {
						// padding: 0 61px;
						padding: 0;
					}
				}

				>li {
					display: block;
					margin-top: 15px;

					&:hover {
						>a:not(.gnb-fold) {
							color: #fff;

							&:after {
								display: none;
							}
						}
					}

					>a:not(.gnb-fold) {
						color: #fff;
						padding: 0;
						text-align: left;
						font-size: 20px;
						font-weight: 500;
						height: auto;
						line-height: auto;
						margin-top: 0;
						margin-right: 50px;
						height: 40px;
						line-height: 40px;
					}

					a.gnb-fold {
						position: absolute;
						right: 0;
						top: 0;
						display: block;
						width: 40px;
						height: 40px;

						&:before {
							position: absolute;
							content: "";
							top: calc(50% - 4px);
							left: calc(50% - 4px);
							display: block;
							border-right: 2px solid #d7d7d7;
							border-bottom: 2px solid #d7d7d7;
							transform: rotate(45deg);
							width: 5px;
							height: 5px;
							background-color: transparent;
						}

						// background: url('#{$imgPath}/images/icon-mob-unfold.png') no-repeat center center / auto 7px;
					}

					a.gnb-fold.on {
						&:before {
							position: absolute;
							content: "";
							top: calc(50% - 1px);
							left: calc(50% - 6px);
							width: 8px;
							height: 1px;
							background: #fff;
							transform: none;
						}

						// background: url('#{$imgPath}/images/icon-mob-fold.png') no-repeat center center / 7px auto;
					}

					/* sub menu */
					.sub-menu {
						display: none;
						margin: 5px 0 35px 10px;
						padding: 0;
						// margin-bottom: 35px;

						>li {
							>a {
								color: #ccc;
								display: block;
								height: 40px;
								text-align: left;
								line-height: 40px;
								font-size: 16px;
								font-weight: 400;
								letter-spacing: -1px;

								span.post-sub-new {
									background: #F50000;
									border-radius: 2px;
									font-size: 11px;
									color: #000;
									display: inline-block;
									width: 15px;
									height: 15px;
									line-height: 15px;
									letter-spacing: 0px;
									font-family: "Open Sans";
									vertical-align: middle;
									margin: 0px 0px 5px 5px;
								}
							}

							>a:hover {
								font-weight: 800;
							}
						}
					}
				}
			}
		}

		#header-left {
			height: 55px;

			#header-logo {
				a {
					width: 134px;
					height: 28px;
					background-size: auto 28px;
				}
			}
		}

		#header-right {
			height: 55px;
			margin-right: 16px;

			.open-search {
				margin-right: 20px;
			}

			#btn-mob-menu {
				z-index: 300;
				display: flex;
				align-items: center;
				width: 18px;
				height: 18px;
				transform: rotate(0deg);
				transition: .5s ease-in-out;
				cursor: pointer;

				span {
					display: block;
					position: absolute;
					height: 2px;
					width: 100%;
					background: #111;
					opacity: 1;
					left: 0;
					transform: rotate(0deg);
					transition: .25s ease-in-out;
				}


				span:nth-child(1) {
					top: 0px;
					transform-origin: left center;
				}

				span:nth-child(2) {
					top: 8px;
					transform-origin: left center;
				}

				span:nth-child(3) {
					top: 16px;
					transform-origin: left center;
				}

				&.open span:nth-child(1) {
					transform: rotate(45deg);
					width: 23px;
					// top: -3px;
					// left: 8px;
				}

				&.open span:nth-child(2) {
					width: 0%;
					opacity: 0;
				}

				&.open span:nth-child(3) {
					transform: rotate(-45deg);
					width: 23px;
					// top: 39px;
					// left: 8px;
				}
			}

			.lscns-link {
				display: none;
			}
		}
	}
}

/********************************************************************
* 검색
*/

#header-search-box {
	background: #f7f7f7;
	min-height: 309px;
	display: none;
	padding: 40px 0;
	z-index: 99;
	position: absolute;
	width: 100%;


	&.active {
		display: block;
	}

	// 구조가 엉망
	.container-small {
		position: relative;
	}

	// 검색박스
	.search-box-wrap {

		display: flex;
		justify-content: space-between;
		gap: 20px;

		#search-box {
			width: 50%;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			font-size: 0;
			gap: 20px;


			.search-option {
				display: block;
				position: relative;
				background: #fff;
				border: 1px solid #e8e8e8;
				border-radius: 4px;
				padding: 5px 0;
				z-index: 1;
				flex: 1;

				.search-option-label {
					position: relative;
					display: block;
					width: 100%;
					height: 46px;
					padding: 0 46px 0 20px;
					background: #fff;
					font-size: 18px;
					text-align: left;

					&:after {
						position: absolute;
						content: "";
						display: block;
						width: 0;
						height: 0;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 5px solid #092550;
						right: 20px;
						top: calc(50% - 2px);
					}

					&.daterange:before {
						content: "";
						margin-right: 10px;
						display: inline-block;
						vertical-align: top;
						width: 16px;
						height: 18px;
						background: url(#{$imgPath}/icon-searchform-daterange.png) no-repeat center center;
					}

					&.sort:before {
						content: "";
						margin-right: 10px;
						display: inline-block;
						vertical-align: top;
						width: 21px;
						height: 19px;
						background: url(#{$imgPath}/icon-searchform-sort.png) no-repeat center center;
					}

					&.active {
						z-index: 202;
						// border: 1px solid $color__background-sig;
					}
				}

				.search-option-label.sort+.option-list {
					.option-value {
						padding: 0 51px;
					}
				}

				.option-list {
					display: none;
					position: relative;
					width: 100%;
					list-style: none;
					padding: 13px 0;
					margin-top: 5px;
					z-index: 201;
					background: #fff;

					&:before {
						content: "";
						position: absolute;
						top: 0px;
						width: 90%;
						margin-left: auto;
						margin-right: auto;
						left: 0;
						right: 0;
						height: 1px;
						background: $color__border;
					}

					li:hover {
						background-color: #f3f3f3;
					}

					.option-value {
						display: block;
						width: 100%;
						// margin-bottom: -1px;
						padding: 0 46px;
						font-size: 18px;
						background: none;
						text-align: left;
						line-height: 35px;
					}
				}
			}
		}

		// 검색어 입력
		.search-keywords {
			width: 50%;

			.search-keyword-wrap {
				position: relative;
				border-radius: 4px;
				border: 1px solid #e8e8e8;
				overflow: hidden;

				input[name='s'] {
					display: block;
					border: none;
					font-weight: 400;
					font-size: 18px;
					padding: 17px 100px 16px 25px;
					// text-align: center;
					width: 100%;
					height: 100%;
				}

				#del-keyword {
					position: absolute;
					display: none;
					right: 60px;
					width: 26px;
					height: 26px;
					top: calc(50% - calc(26px / 2));
					background: #f7f7f7;
					cursor: pointer;
					border-radius: calc(26px / 2);

					&:after {
						position: absolute;
						content: "";
						display: block;
						width: 1px;
						height: 15px;
						transform: rotate(-45deg);
						background: #000;
						top: calc(50% - 7px);
						left: 50%;
					}

					&:before {
						position: absolute;
						content: "";
						display: block;
						width: 1px;
						height: 15px;
						transform: rotate(-135deg);
						background: #000;
						top: calc(50% - 7px);
						left: 50%;
					}
				}

				#search-submit {
					position: absolute;
					position: absolute;
					right: 20px;
					width: 30px;
					height: 30px;
					border: none;
					top: calc(50% - calc(30px / 2));
					cursor: pointer;
					background: url(#{$imgPath}/icon-search-header.png) no-repeat center center;
				}
			}
		}


		// 검색어 입력 끝.
	}

	// 태그
	.tags {
		margin-top: 15px;
		text-align: right;
		font-size: 0;
		position: absolute;
		top: 60px;
		right: 0;

		a {
			display: inline-block;
			font-size: 16px;
			border: 1px solid #e8e8e8;
			border-radius: 20px;

			padding: 9px 20px;
			background: #fff;
			color: #000;

			&:before {
				content: "#";
			}

			&:hover {
				color: #fff;
				background: $color__background-sig;
				border: 1px solid $color__background-sig;
			}
		}

		a+a {
			margin-left: 25px;
		}
	}

	// 달력
	.search-date-picker-wrap {
		position: absolute;
		display: none;
		// width: 78%;
		top: 0;
		width: 700px;
		background: #fff;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 3px;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 30px;
		z-index: 501;

		.calendar-wrap {
			text-align: center;

			.pc {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}
		}

		.date-from,
		.date-to,
		.date-range {
			display: inline-block;
			padding: 20px;
			font-size: 0;

			#date_from,
			#date_to,
			#date_range {
				font-size: 16px;
				width: 100%;
				padding: 10px 20px;
				text-align: center;
				border: 1px solid $color__border;
			}
		}

		.button-wrap {
			text-align: center;
			padding: 20px 0;

			button {
				border-radius: 10px;
				padding: 10px 22px;
				font-size: $fontsize__h4;
				background: #fff;
				border: 1px solid $color__border;
			}

			button.btn_ok {
				background: $color__background-sig;
				color: #fff;
				border: none;
			}

			button+button {
				margin-left: 20px;
			}
		}



		.calendar-wrap {

			.pc {
				display: none;
			}

			.mobile {
				display: block;
			}
		}

	}
}


// 검색 - 데스크탑
@include media("<=desktop") {

	#header-search-box {
		min-height: 225px;
		padding: 40px 0 50px 0;


		// 검색박스
		.search-box-wrap {
			#search-box {
				gap: 15px;

				.search-option {

					.search-option-label {
						height: 36px;
						font-size: 16px;
					}

					.option-list {
						padding: 9px 0;

						.option-value {
							font-size: 16px;
							line-height: 28px;
						}
					}
				}

			}

			// 검색어 입력
			.search-keywords {
				.search-keyword-wrap {
					input[name='s'] {
						font-size: 16px;
						padding: 13px 80px 13px 25px;
					}

					#search-submit {
						background-size: auto 19px;
					}
				}
			}
		}

		// 태그
		.tags {
			top: 50px;

			a {
				font-size: 14px;
			}

			a+a {
				margin-left: 15px;
			}
		}

		// 달력
		.search-date-picker-wrap {
			margin-top: -30px;
		}
	}
}


// 검색 - 태블릿
@include media("<=tablet") {

	#header-search-box {
		box-shadow: 0px 30px 20px 0px rgba(56, 56, 56, 0.2);
		min-height: 240px;
		padding: 40px 0 20px 0;


		// 검색박스
		.search-box-wrap {
			flex-direction: column;
			gap: 10px;

			#search-box {
				order: 2;
				width: 100%;
				gap: 15px;

				.search-option {

					.search-option-label {
						height: 28px;
						font-size: 14px;
						padding: 0 40px 0 15px;

						&:after {
							border-left: 4px solid transparent;
							border-right: 4px solid transparent;
							border-top: 4px solid #092550;
							right: 15px;
						}

						&.daterange:before {
							width: 14px;
							height: 16px;
							background-size: auto 16px;
						}

						&.sort:before {
							content: "";
							margin-right: 10px;
							display: inline-block;
							vertical-align: top;
							width: 18px;
							height: 16px;
							background-size: auto 16px;
						}

						&.active {
							z-index: 202;
							// border: 1px solid $color__background-sig;
						}
					}

					.search-option-label.sort+.option-list {
						.option-value {
							padding: 0 51px;
						}
					}

					.option-list {
						padding: 9px 0;

						.option-value {
							padding: 0 39px;
							font-size: 14px;
							line-height: 24px;
						}
					}
				}
			}

			// 검색어 입력
			.search-keywords {
				width: 100%;
				order: 1;

				.search-keyword-wrap {
					input[name='s'] {
						font-size: 14px;
						padding: 11px 60px 11px 15px;
					}

					#search-submit {
						right: 15px;
						background-size: auto 16px;
					}

					#del-keyword {
						right: 45px;
						width: 16px;
						height: 16px;
						top: 50%;
						transform: translate(-50%, -50%);

						&:before {
							height: 11px;
							top: calc(50% - 5px);
						}

						&:after {
							height: 11px;
							top: calc(50% - 5px);
						}
					}
				}
			}
		}

		// 태그
		.tags {
			top: 86px;
			// text-align: left;
			right: auto;
			left: 0;

			a {
				font-size: 14px;
				letter-spacing: -1px;
				padding: 8px 13px;
			}

			a+a {
				margin-left: 10px;
			}
		}

		// 달력
		.search-date-picker-wrap {
			margin-top: -30px;
		}
	}
}