#skip-link {
	position: fixed;
	height: 0px;
	overflow: hidden;
	z-index: 6000;
	width: 100%;
	text-align: center;
	color: #ffffff;
	background-color: $color__background-sig;
}

#skip-link:focus {
	width: 100%;
	height: 30px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: underline;
}

header.menu-opened {
	#header-wrap {
		#header-gnb {
			>ul {
				>li {
					.sub-menu {
						display: block;
					}
				}
			}
		}
	}
}

header.search-opened {
	#header-search-box {
		display: block;
	}

	#header-wrap {
		#header-right {
			.open-search {
				a {
					&:before {
						background: url(#{$imgPath}/icon-search-header-close.png) no-repeat center center;
					}
				}
			}
		}
	}
}

#header-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
	background-color: #fff;


	/****************************************************************
	* 좌측
	*/
	#header-left {
		width: 1200px;
		max-width: 1200px;
		text-align: left;

		#header-logo {
			a {
				position: relative;
				z-index: 101;
				display: block;
				width: 222px;
				height: 46px;
				background: url(#{$imgPath}/logo.svg) no-repeat center center / auto 46px;
			}
		}
	}

	/***************************************************************
	* 우측
	*/
	#header-right {
		position: absolute;
		width: 1200px;
		max-width: 1200px;
		height: 100px;
		margin: 0 auto;
		top: 0;
		left: 0;
		text-align: right;
		right: 0;
		display: flex;
		justify-content: end;
		align-items: center;

		.open-search {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			z-index: 401;
			margin-right: 50px;

			a {
				position: relative;
				display: inherit;
				// margin-right: 25px;

				&:before {
					content: "";
					display: block;
					width: 24px;
					height: 24px;
					background: url(#{$imgPath}/icon-search-header.png) no-repeat center center;
				}
			}
		}

		.lscns-link {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			z-index: 401;

			a {
				position: relative;
				display: inherit;

				&:before {
					content: "";
					display: block;
					width: 86px;
					height: 26px;
					background: url(#{$imgPath}/logo-lscns-block.svg) no-repeat center center;
				}
			}
		}
	}

	/****************************************************************8
	* GNB
	*/
	#header-gnb {
		position: absolute;
		top: 0;
		background-color: rgba(255, 255, 255, 0.95);
		z-index: 100;
		border-top: 1px solid $color__border;
		text-align: center;
		width: 100%;
		display: block;
		top: 100px;

		// &.active {
		// 	>ul {
		// 		>li {
		// 			>ul {
		// 				display: block;
		// 			}
		// 		}
		// 	}
		// }

		>ul {
			width: 100%;
			margin: auto;
			position: relative;
			font-size: 0;

			>li {
				display: inline-block;
				position: relative;
				vertical-align: top;


				&:hover {
					>a:not(.gnb-fold) {
						color: $color__text-sig;

						// font-weight: 800;
						// border-bottom: 3px solid $color__background-sig;

						&:after {
							transform: scaleX(1);
						}
					}
				}

				>a:not(.gnb-fold) {
					display: block;
					position: relative;
					padding: 0 40px;
					line-height: 100px;
					margin-top: -100px;
					text-transform: uppercase;
					font-weight: 600;
					font-size: 21px;
					color: #000;
					transition: color 0.3s;
					letter-spacing: -1px;

					&:after {
						position: absolute;
						display: block;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						content: "";
						border-bottom: solid 3px $color__background-sig;
						transform: scaleX(0);
						transition: transform 200ms ease-in-out;
					}
				}

				>a.gnb-fold {
					display: none;
				}

				// 서브메뉴
				.sub-menu {
					display: none;
					width: 100%;
					margin: 25px 0 35px 0;
					padding: 0 0 40px;

					>li {
						>a {
							display: block;
							height: 40px;
							line-height: 40px;
							font-size: 16px;
							letter-spacing: -1px;
							color: #666;

							span.post-sub-new {
								background: #f50000;
								border-radius: 2px;
								font-size: 11px;
								color: #000;
								display: inline-block;
								width: 15px;
								height: 15px;
								line-height: 15px;
								letter-spacing: 0px;
								font-family: "Open Sans";
								vertical-align: middle;
								margin: 0px 0px 5px 5px;
							}
						}

						>a:hover {
							font-weight: 800;
						}
					}
				}
			}
		}
	}
}

/********************************************************************
* 검색
*/

#header-search-box {
	background: #f7f7f7;
	min-height: 309px;
	display: none;
	padding: 40px 0;

	&.active {
		display: block;
	}

	// 검색박스
	#search-box {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		// 검색옵션들 (날짜, 오더)
		.search-option-wrap {
			width: 510px;
			font-size: 0;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;

			.search-option {
				display: block;
				position: relative;
				width: 245px;
				background: #fff;
				border: 1px solid #e8e8e8;
				border-radius: 4px;
				padding: 5px 0;


				.search-option-label {
					position: relative;
					display: block;
					width: 100%;
					height: 46px;
					padding: 0 46px 0 20px;
					background: #fff;
					font-size: 18px;
					text-align: left;

					&:after {
						position: absolute;
						content: "";
						display: block;
						width: 0;
						height: 0;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 5px solid #092550;
						right: 20px;
						top: calc(50% - 2px);
					}

					&.daterange:before {
						content: "";
						margin-right: 10px;
						display: inline-block;
						vertical-align: top;
						width: 16px;
						height: 18px;
						background: url(#{$imgPath}/icon-searchform-daterange.png) no-repeat center center;
					}

					&.sort:before {
						content: "";
						margin-right: 10px;
						display: inline-block;
						vertical-align: top;
						width: 21px;
						height: 19px;
						background: url(#{$imgPath}/icon-searchform-sort.png) no-repeat center center;
					}

					&.active {
						z-index: 202;
						// border: 1px solid $color__background-sig;
					}
				}

				.search-option-label.sort+.option-list {
					.option-value {
						padding: 0 51px;
					}
				}

				.option-list {
					display: none;
					position: relative;
					width: 100%;
					list-style: none;
					padding: 13px 0;
					margin-top: 5px;
					z-index: 201;
					background: #fff;

					&:before {
						content: "";
						position: absolute;
						top: 0px;
						width: 90%;
						margin-left: auto;
						margin-right: auto;
						left: 0;
						right: 0;
						height: 1px;
						background: $color__border;
					}

					li:hover {
						background-color: #f3f3f3;
					}

					.option-value {
						display: block;
						width: 100%;
						// margin-bottom: -1px;
						padding: 0 46px;
						font-size: 18px;
						background: none;
						text-align: left;
						line-height: 35px;
					}
				}
			}
		}


		// 검색어 입력
		.search-keywords {
			width: 510px;

			.search-keyword-wrap {
				position: relative;
				border-radius: 4px;
				border: 1px solid #e8e8e8;
				overflow: hidden;

				input[name='s'] {
					display: block;
					border: none;
					font-weight: 400;
					font-size: 18px;
					padding: 17px 100px 16px 25px;
					// text-align: center;
					width: 100%;
					height: 100%;
				}

				#del-keyword {
					position: absolute;
					display: none;
					right: 60px;
					width: 26px;
					height: 26px;
					top: calc(50% - calc(26px / 2));
					background: #f7f7f7;
					cursor: pointer;
					border-radius: calc(26px / 2);

					&:after {
						position: absolute;
						content: "";
						display: block;
						width: 1px;
						height: 15px;
						transform: rotate(-45deg);
						background: #000;
						top: calc(50% - 7px);
						left: 50%;
					}

					&:before {
						position: absolute;
						content: "";
						display: block;
						width: 1px;
						height: 15px;
						transform: rotate(-135deg);
						background: #000;
						top: calc(50% - 7px);
						left: 50%;
					}
				}

				#search-submit {
					position: absolute;
					position: absolute;
					right: 20px;
					width: 30px;
					height: 30px;
					border: none;
					top: calc(50% - calc(30px / 2));
					cursor: pointer;
					background: url(#{$imgPath}/icon-search-header.png) no-repeat center center;
				}
			}

		}

		// 검색어 입력 끝.

	}


	// 구조가 엉망.
	#gnbSearchFrm {
		position: relative;
	}

	// 태그
	.tags {
		margin-top: 15px;
		text-align: right;
		font-size: 0;
		position: absolute;
		top: 60px;
		right: 0;

		a {
			display: inline-block;
			font-size: 16px;
			border: 1px solid #e8e8e8;
			border-radius: 20px;

			padding: 9px 20px;
			background: #fff;
			color: #000;

			&:before {
				content: "#";
			}

			&:hover {
				color: #fff;
				background: $color__background-sig;
				border: 1px solid $color__background-sig;
			}
		}

		a+a {
			margin-left: 25px;
		}
	}

	// 달력
	.search-date-picker-wrap {
		position: absolute;
		display: none;
		// width: 78%;
		width: 700px;
		background: #fff;
		z-index: 100;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 3px;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 30px;

		.calendar-wrap {
			text-align: center;

			.pc {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
			}
		}

		.date-from,
		.date-to,
		.date-range {
			display: inline-block;
			padding: 20px;
			font-size: 0;

			#date_from,
			#date_to,
			#date_range {
				font-size: 16px;
				width: 100%;
				padding: 10px 20px;
				text-align: center;
				border: 1px solid $color__border;
			}
		}

		.button-wrap {
			text-align: center;
			padding: 20px 0;

			button {
				border-radius: 10px;
				padding: 10px 22px;
				font-size: $fontsize__h4;
				background: #fff;
				border: 1px solid $color__border;
			}

			button.btn_ok {
				background: $color__background-sig;
				color: #fff;
				border: none;
			}

			button+button {
				margin-left: 20px;
			}
		}
	}
}