/******************************************************************************
* 미디어라이브러리 공통
******************************************************************************/
.medialibrary-wrap {
	margin: 100px 0;
}

@include media("<=desktop") {
	.medialibrary-wrap {
		margin: 60px 0;
	}
}

@include media("<=tablet") {
	.medialibrary-wrap {
		margin: 40px 0 140px;
	}
}

.medialibrary-header {
	display: flex;
	align-items: flex-end;
	padding: 0 0 20px 0;
	border-bottom: 1px solid $color__border;

	h1 {
		padding: 0;
		margin: 0 25px 0 0;
		font-size: 33px;
	}

	span {
		font-size: 16px;
		font-weight: 400;
		padding-bottom: 5px;
	}
}

@include media("<=tablet") {
	.medialibrary-header {
		flex-direction: column;
		align-items: flex-start;
		padding: 0 0 5px 0;

		h1 {
			margin-bottom: 5px;
			font-size: 26px;
		}

		span {
			font-size: 12px;
		}
	}
}

.medialibrary-control {
	margin: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.switch-album {
		a {
			position: relative;
			display: inline-block;
			font-size: 22px;
			font-weight: 800;
			color: #000;

			&.selected:after {
				position: absolute;
				display: block;
				left: 0;
				bottom: -10px;
				width: 100%;
				height: 100%;
				content: "";
				border-bottom: solid 3px #e22424;
			}
		}

		a+a {
			margin-left: 40px;
		}
	}

	.medialibrary-search {
		.medialibrary-search-box {
			font-size: 0;
			position: relative;
			border-radius: 30px;
			border: 2px solid #0d4672;
			overflow: hidden;
			width: 385px;


			input[name='s'] {
				display: block;
				border: none;
				border-radius: 30px;
				font-weight: 400;
				font-size: 18px;
				padding: 14px 100px 13px 25px;
				// text-align: center;
				width: 100%;
				height: 100%;
			}

			#del-mkeyword {
				position: absolute;
				display: none;
				right: 60px;
				width: 26px;
				height: 26px;
				top: calc(50% - calc(26px / 2));
				background: #f7f7f7;
				cursor: pointer;
				border-radius: calc(26px / 2);

				&:after {
					position: absolute;
					content: "";
					display: block;
					width: 1px;
					height: 15px;
					transform: rotate(-45deg);
					background: #000;
					top: calc(50% - 7px);
					left: 50%;
				}

				&:before {
					position: absolute;
					content: "";
					display: block;
					width: 1px;
					height: 15px;
					transform: rotate(-135deg);
					background: #000;
					top: calc(50% - 7px);
					left: 50%;
				}
			}

			#album-search-submit {
				position: absolute;
				position: absolute;
				right: 20px;
				width: 30px;
				height: 30px;
				border: none;
				top: calc(50% - calc(30px / 2));
				cursor: pointer;
				background: url(#{$imgPath}/icon-search-header.png) no-repeat center center;
			}
		}
	}
}

@include media("<=tablet") {
	.medialibrary-control {
		margin: 30px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column-reverse;

		.switch-album {
			margin-top: 35px;
			align-self: flex-start;

			a {
				font-size: 18px;
				font-weight: 700;

				&.selected:after {
					position: absolute;
					display: block;
					left: 0;
					bottom: -10px;
					width: 100%;
					height: 100%;
					content: "";
					border-bottom: solid 3px #e22424;
				}
			}

			a+a {
				margin-left: 24px;
			}
		}


		.medialibrary-search {
			width: 100%;
			padding: 0 10px;

			.medialibrary-search-box {
				width: 100%;

				input[name='s'] {
					font-size: 14px;
				}

				#del-mkeyword {
					right: 50px;
					width: 24px;
					height: 24px;
					top: calc(50% - calc(24px / 2));
					border-radius: calc(24px / 2);
				}

				#album-search-submit {
					width: 20px;
					height: 20px;
					top: calc(50% - calc(20px / 2));
					background: url(#{$imgPath}/icon-search-header.png) no-repeat center center / auto 19px;
				}
			}
		}
	}
}


/******************************************************************************
* 미디어라이브러리 메인
******************************************************************************/

.album-list {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 282px));
	gap: 58px 24px;

	.album-item-wrap {
		a {
			display: block;
			// width: 100%;
			// height: 100%;

			&:hover,
			&:focus {
				.album-thumb-wrap {
					img {
						transform: scale(1.1);
					}
				}
			}

			.album-thumb-wrap {
				// width: 100%;
				// height: 100%;
				position: relative;
				border-radius: 20px;
				overflow: hidden;
				font-size: 0;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: transform 0.3s;
				}
			}

			.album-title {
				display: block;
				color: #000;
				margin-top: 20px;
				font-size: 20px;
				line-height: 28px;
				font-weight: 600;
			}
		}
	}
}

@include media("<=tablet") {
	.album-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 20px 10px;

		.album-item-wrap {
			width: auto;

			a {
				.album-thumb-wrap {
					// height: 100px;
					// height: auto;
					border-radius: 10px;
				}

				.album-title {
					display: block;
					color: #000;
					margin-top: 5px;
					font-size: 14px;
					line-height: 22px;
				}
			}
		}
	}
}




/******************************************************************************
* 앨범페이지
******************************************************************************/
.album-wrap {
	.album-header {
		margin: 50px 0;

		.album-selector {
			>a {
				font-size: 20px;
				line-height: 28px;
				color: #000;
				font-weight: 600;
			}

			>div {
				position: relative;
				display: inline-block;
				border: 1px solid #e8e8e8;
				border-radius: 4px;
				background: #fff;
				padding: 5px 0;
			}
		}
	}
}





/******************************************************************************
* 미디어 상세보기
******************************************************************************/
.medialibrary-control {

	.go-back {
		font-size: 18px;
		color: #000;
		font-weight: 600;

		img {
			margin-right: 3px;
		}
	}
}

@include media("<=tablet") {
	.go-back {
		margin-top: 35px;
		align-self: flex-start;
	}
}

.media-wrap {
	.media-title {
		margin-top: 60px;
		font-size: 28px;
		line-height: 40px;
		color: #000;
		font-weight: 600;
		text-align: center;

		.date {
			font-size: 14px;
			font-weight: 400;
		}
	}

	.media-download {
		text-align: center;
		margin: 40px 0;

		.download-media {
			position: relative;
			background: #000;
			font-size: 14px;
			padding: 15px 20px 15px 40px;
			color: #fff;
			display: inline-block;

			&:before {
				position: absolute;
				content: "";
				width: 14px;
				height: 16px;
				margin-left: -20px;
				display: inline-block;
				background: url(#{$imgPath}/icon-media-download.png) no-repeat center center;
			}
		}
	}

	.media-slider {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		width: 100%;
		max-width: 1080px;
		margin: 0 auto;
		text-align: center;

		#media-prev,
		#media-next {
			position: relative;
			display: block;
			width: 80px;
		}

		#media-prev {
			a {
				display: block;

				&:before {
					position: absolute;
					display: block;
					content: "";
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: url(#{$imgPath}/icon-arrow-media-left.png) no-repeat left center;
				}
			}
		}

		#media-next {
			a {
				display: block;

				&:after {
					position: absolute;
					display: block;
					content: "";
					right: 0;
					top: 0;
					width: 100%;
					height: 100%;
					background: url(#{$imgPath}/icon-arrow-media-right.png) no-repeat right center;
				}
			}
		}

		.media-thumb,
		.video-thumb .wp-block-video {
			position: relative;
			max-width: 840px;
			width: 100%;
			border-radius: 20px;
			overflow: hidden;
			font-size: 0;

			img {
				width: 100%;
				height: auto;
			}
		}

		.video-thumb {
			.wp-block-video {
				&:before {
					content: "";
					display: block;
					width: 100px;
					height: 100px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background: url(#{$imgPath}/icon-video-play.png) no-repeat center center;
				}

				&.playing {
					&:before {
						display: none;
					}
				}
			}

		}
	}

	.media-thumbs {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 840px;
		margin: 30px auto;

		#media-thumb-next,
		#media-thumb-prev {
			display: none;
		}

		.media-thumb-item {
			width: 160px;
			height: 94px;
		}

		a,
		span {
			display: block;

			font-size: 0;

			&:hover,
			&:focus {
				img {
					transform: scale(1.1);
				}
			}

			&.media-current {
				margin-top: -11px;

				&:after {
					content: "";
					display: block;
					width: 100%;
					height: 3px;
					background-color: $color__background-sig;
					margin-top: 8px;
				}

				// padding-bottom: 8px;
				// border-bottom: 3px solid $color__background-sig;
				// margin-top: -20px;
			}

			.img {
				position: relative;
				border-radius: 20px;
				overflow: hidden;

				&.video:before {
					content: "";
					z-index: 1;
					display: block;
					width: 50px;
					height: 50px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background: url(/wp-content/themes/LSNewsroom/assets/images/icon-video-play.png) no-repeat center center / auto 50px;
				}
			}

			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
				transition: all 0.3s;
			}
		}
	}
}


@include media("<=tablet") {

	.media-wrap {
		.media-title {
			margin-top: 25px;
			font-size: 18px;
			line-height: 24px;

			.date {
				font-size: 12px;
			}
		}

		.media-download {
			text-align: center;
			margin: 20px 0 25px;

			.download-media {
				font-size: 12px;
				padding: 10px 20px 10px 40px;

				&:before {
					background: url(#{$imgPath}/icon-media-download.png) no-repeat center center / auto 14px;
				}
			}
		}

		.media-slider {

			#media-prev,
			#media-next {
				display: none;
			}
		}

		.media-thumbs {
			align-items: stretch;
			gap: 5px;

			.media-thumb-item {
				width: 100%;
				height: 100%;
			}


			// 좌우 두개 삭제
			#media-next-2,
			#media-prev-2 {
				display: none;
			}

			#media-thumb-prev,
			#media-thumb-next {
				position: relative;
				display: block;
				width: 20px;
			}

			#media-thumb-prev {
				a {
					display: block;
					width: 20px;
					height: 100%;

					&:before {
						position: absolute;
						display: block;
						content: "";
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: url(#{$imgPath}/icon-arrow-media-left-mini.png) no-repeat left center;
					}
				}
			}

			#media-thumb-next {
				a {
					display: block;
					width: 20px;
					height: 100%;

					&:after {
						position: absolute;
						display: block;
						content: "";
						right: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background: url(#{$imgPath}/icon-arrow-media-right-mini.png) no-repeat right center;
					}
				}
			}


			a,
			span {
				.img {
					&.video:before {
						content: "";
						z-index: 1;
						display: block;
						width: 30px;
						height: 30px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						background: url(/wp-content/themes/LSNewsroom/assets/images/icon-video-play.png) no-repeat center center / auto 30px;
					}
				}
			}
		}
	}
}





/********************************************************************
*
* 포토스트림
*
********************************************************************/
.media-list {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 282px));
	gap: 58px 24px;

	.media-item-wrap.mobile {
		display: none;
	}

	.media-item-wrap.pc {

		&:hover,
		&:focus {
			.media-thumb-wrap {
				.media-thumb-overay {
					display: flex;
				}

				.media-thumb {
					img {
						transform: scale(1.1);
					}

					&.video:before {
						display: none;
					}
				}
			}
		}
	}

	.media-item-wrap.pc {
		.media-thumb-wrap {
			position: relative;
			font-size: 0;
			border-radius: 20px;
			overflow: hidden;
			z-index: 2;

			.media-thumb-overay {
				z-index: 1;
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				background: rgba(0, 0, 0, 0.7);
				display: none;
				justify-content: space-between;
				align-items: stretch;

				a {
					flex: 1;
					color: #fff;
					font-size: 14px;
					font-weight: 500;
					// text-align: center;
					display: flex;
					align-items: center;
					flex-direction: column;
					justify-content: center;
					position: relative;

					&.media-detail {
						&:before {
							display: block;
							margin-bottom: 5px;
							content: url(#{$imgPath}/icon-media-detail.png);
						}
					}

					&.media-download {
						&:before {
							display: block;
							margin-bottom: 5px;
							content: url(#{$imgPath}/icon-media-download.png);
						}

						&:after {
							position: absolute;
							content: "";
							display: block;
							width: 1px;
							height: 83px;
							left: 0;
							background-color: #fff;
						}
					}
				}
			}

			.media-thumb {
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: transform 0.3s;
				}

				&.video:before {
					content: "";
					z-index: 1;
					display: block;
					width: 50px;
					height: 50px;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					background: url(/wp-content/themes/LSNewsroom/assets/images/icon-video-play.png) no-repeat center center / auto 50px;
				}
			}
		}

		.media-title {
			margin-top: 20px;
			font-size: 20px;
			line-height: 26px;
			font-weight: 600;
			@include ellipsis(2, 26px);
		}
	}
}

@include media("<=tablet") {
	.media-list {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 50%));
		gap: 20px 10px;

		.media-item-wrap.pc {
			display: none;
		}

		.media-item-wrap.mobile {
			display: block;

			.media-thumb-wrap {
				position: relative;
				font-size: 0;
				border-radius: 10px;
				overflow: hidden;

				.media-thumb {
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: transform 0.3s;
					}
				}
			}

			.media-title {
				margin-top: 5px;
				font-size: 14px;
				line-height: 18px;
				color: #000;
				@include ellipsis(2, 18px);
			}
		}
	}
}